<div layout="row" layout-align="center center" layout-padding>
    <md-radio-group layout="row" ng-model="vm.filterType">

        <md-radio-button value="all" class="md-primary">All</md-radio-button>
        <md-radio-button value="phone" class="md-primary"> Phone </md-radio-button>
        <md-radio-button value="tablet" class="md-primary">Tablet</md-radio-button>

    </md-radio-group>
</div>
<md-content layout="row" layout-align="center stretch" layout-wrap>
  <md-card class="phone-card" ng-repeat="phone in vm.phones | filter:vm.filterFn(vm.filterType) | filter:{name:vm.search}">
    <md-card-title>
      <md-card-title-media>
        <div class="md-media-lg card-media" layout-padding>
          <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"/>
        </div>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline" ng-bind="::phone.name"></span>
        <span class="md-subhead" ng-bind="::phone.price|currency"></span>
      </md-card-title-text>

    </md-card-title>
    <md-card-content>
      <p ng-bind="::phone.snippet"></p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-accent" ng-click="vm.addToBucket(phone)">
        <md-icon md-font-icon="icon-cart-outline"></md-icon>
        Add to Cart
      </md-button>
    </md-card-actions>
  </md-card>
</md-content>
<div layout="row" layout-align="center center" ng-if="vm.phones.length">
    <p class="md-subhead">No results for "{{vm.search}}"</p>
</div>
